div.container-fluid {
	padding-left: 5px;
}
#filter-widget {
	margin: 0px;
	div.row {
		margin-left: 5px;
	}
	md-select {
		margin-top: 5px;
		padding-bottom: 5px;
		padding-left: 2%;
	}
}
md-input-container {
	min-width: 100px;
	max-width: 300px;
	padding-bottom: 15px;
}
md-select.picker {
	text-align: center;
}
md-option.color {
	margin-top: 3px;
	height: 35px;
	color: white;
}
